body{
margin:0;
background:#0f1117;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#1d212d;
padding:40px;
border-radius:20px;
width:350px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

.logo{
width:120px;
margin-bottom:20px;
}

h1{
color:#d8b36a;
margin:5px;
}

h3{
color:white;
font-weight:normal;
margin-bottom:30px;
}

input{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:15px;
background:#d8b36a;
color:black;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
}
